{% extends "layout.html" %}

{% block content %}

    <div class="bg-info text-white text-center">

        <div class="container">
            <br>
            <h1>Budapest 17th FINA World Championships</h1>
            <h2><span class="glyphicon glyphicon-king"></span></h2>
        </div>
    </div>

    <div class="container">

        <br>
        <h4><span class="glyphicon glyphicon-dashboard"></span>  LATEST NEWS</h4>

        <blockquote class="blockquote">
        <p class="mb-0 h2">Adorable Swimmer Fu Yuanhui Wins Our Hearts Yet Again</p>
        <footer class="blockquote-footer">Rio de Janeiro Olympic Games 100m backstroke bronze medallist has to settle for silver at the Aquatics World Championships in Budapest</footer>
        </blockquote>
        <ul>
            <p class="text-justify">Needless to say, one of the major attractions at the ongoing National Games of China is swimmer Fu Yuanhui, an Olympic and world medalist whose loveable character never disappoints fans.</p>
            <p class="text-justify">When Fu climbed out of the pool with a victory in women's 100m backstroke on Saturday night, she was already holding back tears and putting on her signiture disarming smile to face the flock of reporters who were wondering what quotable "golden sentences" she might produce.</p>
            <p class="text-justify">Only this time, Fu told a touching story about overcoming hardship after she narrowly missed the 50m backstroke title at July's Budapest World Championships, where the 21-year-old finished a runner-up in the 50m back final in 27.15 seconds, merely one hundredth of a second shy of defending her title. She burst into tears after the competition.</p>
        </ul>

        <div class="text-center">

            <img width="500" height="300" src="https://wx1.sinaimg.cn/large/51163e25gy1fiifznbvotj21bf0qo1kx.jpg"/>

        </div>

        <br><ul>
            <p>Fu has won over millions of fans around China and worldwide with her candid and happy demeanor at last year's Rio Olympic Games. But what makes her an real sports idol is more than just being funny. Behind those amusing remarks and winsome facial expressions stands an athlete who fights tirelessly to prove herself.</p>
            <p>"When I was so lost, I did not give up on myself. Instead I continue to work hard. My experience tells me that every drop of your sweat and every effort you make will eventually come back at some point in the form of a reward," said Fu.</p>
            <p>After finishing her story, Fu turned back to her humorous side, praising the volunteers for their hospitality and saying "it seems that there are stars in their eyes." Earlier, when she was asked to say a few words to her fans, she suggested that everyone eat more meat. "Everybody should eat more meat because it is good for your health," Fu instructed.</p>
        </ul>
    </div>


    <div class="container">
        <br>
        <h4><span class="glyphicon glyphicon-fire"></span>    Women's 50m Backstroke Final-Results </h4>


    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Rk</th>
            <th scope="col">Nationality</th>
            <th scope="col">Athlete</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>BRA</td>
            <td>Etiene MEDEIROS</td>
            <td>27.14</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>CHN</td>
            <td>Yuanhui FU</td>
            <td>27.15</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>BLR</td>
            <td>Aliaksandra HERASIMENIA</td>
            <td>27.23</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>AUS</td>
            <td>Emily SEEBOHM</td>
            <td>27.37</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>USA</td>
            <td>Kathleen BAKER</td>
            <td>27.50</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>CHN</td>
            <td>Xueer WANG</td>
            <td>27.55</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>AUS</td>
            <td>Holly BARRATT</td>
            <td>27.60</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>GBR</td>
            <td>Georgia DAVIES</td>
            <td>27.61</td>
        </tr>
        </tbody>
    </table>
    </div>

        <div class="container">
            <br>
            <h4><span class="glyphicon glyphicon-blackboard"></span>  More Info</h4>
            <h4>
                Click here to learn More about <a href="http://www.fina.org/event/17th-fina-world-championships"> 17th FINA World Championships</a>
            </h4>
        </div>



{% endblock %}
