{% extends "layout.html" %}

{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Tel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>123</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>456</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>789</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Perry</td>
            <td>WHATEVER</td>
            <td>@gmail</td>
            <td>012</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Shane</td>
            <td>Bou</td>
            <td>@per</td>
            <td>345</td>
        </tr>
        </tbody>
    </table>

</div>

{% endblock %}
