{% extends "layout.html" %}

{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Tel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>123</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>456</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>789</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Perry</td>
            <td>WHATEVER</td>
            <td>@gmail</td>
            <td>012</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Shane</td>
            <td>Bou</td>
            <td>@per</td>
            <td>345</td>
        </tr>
        </tbody>
    </table>

    <h3>
        <a href=" ">Google</a>
    </h3>

    <blockquote class="blockquote">
        <p class="mb-0">Just for today I will exercise my soul in three ways. I will do somebody a good turn and not get found out: If anybody knows of it, it will not count. I will do at least two things.</p>
    </blockquote>

    <ul class="list-unstyled">
        <li>L.A's changed a lot over the years</li>
        <li>Since those brave gold rush pioneers</li>
        <li>Came in their creaky covered wagons</li>
        <li>Far as they could go end of the line</li>
        <li>Their dreams were yours. Their dreams were mine</li>
        <li>But in those dreams were hidden dragons.
            <ul>
                <li>Sunset boulevard</li>
                <li>Frenzied boulevard</li>
                <li>Swamped with every kind of false emotion.</li>
                <li>Sunset boulevard</li>
                <li>Brutal boulevard</li>
                <li>Just like you, we'll wind up in the ocean.</li>
            </ul>
        </li>
        <li>Everyones forgotten how they started</li>
        <li>Here on sunset boulevard!</li>
    </ul>
    <p class="text-warning">A girl was leaning over the windowsill of her own bedroom when she saw her neighbor burying a puppy,which was so lovely that the little girl usually played with it.Seeing the puppy dead,the little girl couldn't help bursting into tears from her broken heart.When her grandfather witnessed this,he led the little girl to another room and opened another window.
        Looking out of this window,she found it was a sunshiny rose garden with the birds singing and the air permeated with the fragrance of flowers.Instantly the little girl became cheerful without any anxiety on her face.
        The old man told his granddaughter kindly,"My dear,you just opened a wrong window."</p>
</div>

{% endblock %}
